<!DOCTYPE html>
<html lang="en" ng-app='dochub'>
  <head>
     <base href="/">
    <meta charset="utf-8">
    <title>DocHub</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Compiled and minified CSS-->

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
     <link rel="stylesheet" href="assets/css/angular-flash.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN" crossorigin="anonymous">
    <!-- Compiled and minified JavaScript-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
      <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="scripts/bundle.js"></script>
    <script src="assets/js/angular-flash.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <!-- Angular Material Library -->
  </head>
  <body>
    <nav style="padding:4px 4px 4px 4px; position: relative; z-index: 100; background-color: #062f4f;">
      <div class="nav-wrapper" >
        <a ui-sref='home'><span class='brand-logo'>DocHub</span></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a ui-sref='login' class='white-text'>Login</a></li>
          <li><a ui-sref='register' class='white-text'>Sign Up</a></li>
        </ul>
      </div>
    </nav>
