<div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="assets/images/create.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="black-text">CREATE</h3>
          <h5 class="light black-text text-lighten-3">Easily create documents online</h5>
        </div>
      </li>
      <li>
        <img src="assets/images/store.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>SAVE</h3>
          <h5 class="light grey-text text-lighten-3">Easily saving documents online</h5>
        </div>
      </li>
      <li>
        <img src="assets/images/retrieve.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="black-text">Retrieve</h3>
          <h5 class="light black-text text-lighten-3">Fetch your documents with ease</h5>
        </div>
      </li>
      <li>
        <img src="assets/images/share.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 class='black-text'>Share</h3>
          <h5 class="light black-text text-lighten-3">Make your documents public and <br> easily share with friends and colleagues</h5>
        </div>
      </li>
    </ul>
  </div>
    <script>
    $(document).ready(function(){
      $('.slider').slider({full_width: true, indicators: false});
    });
  </script>